<div class="container">
   <div class="row">
      <div class="col-12-sm">
         <div class="form-group">
            <input type="text" placeholder="Movie Name" ng-model="movieCtrl.moviename" class="form-control">
         </div>
         <div class="form-group">
            <input type="text" placeholder="Movie Year" ng-model="movieCtrl.year" class="form-control">
         </div>
         <div class="form-group">
            <button class="btn btn-success" ng-click="movieCtrl.FindMovie()">Search Movie</button>
         </div>
      </div>
   </div>
</div>
<div class="container-fluid">
   <div class="row">
      <div class="col-12-sm">
         <table class="table">
            <thead>
               <tr>
                  <th></th>
                  <th>Movie Name</th>
                  <th>Genre</th>
                  <th>Star Cast</th>
                  <th>Director</th>
                  <th>Language</th>
                  <th>Duration</th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><img width="150px" height="150px" alt="" src="https://image.tmdb.org/t/p/w500/{{movieCtrl.moviedet.poster_path}}"></td>
                  <td>{{movieCtrl.moviedet.title}}</td>
                  <td>
                     <div ng-repeat="g in movieCtrl.moviedet.genres">{{g.name}} </div>
                  </td>
                  <td>{{movieCtrl.cast}}</td>
                  <td>{{movieCtrl.directorname}}</td>
                  <td>
                     <div ng-repeat="l in movieCtrl.moviedet.spoken_languages">{{l.name}} </div>
                  </td>
                  <td>{{movieCtrl.moviedet.runtime}}</td>
                  <td><button class="btn btn-info" ng-click="movieCtrl.AddMovie()">Add Movie</button></td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
<div class="container-fluid">
   <div class="row">
      <div class="col-12-sm">
         <table class="table table-striped">
            <thead>
               <tr>
                  <th></th>
                  <th>Movie Name</th>
                  <th>Genre</th>
                  <th>Star Cast</th>
                  <th>Director</th>
                  <th>Language</th>
                  <th>Duration</th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="mdb in movieCtrl.moviedetails">
      <td><img width="150px" height="150px" alt="imgage not available" src="https://image.tmdb.org/t/p/w500/{{mdb.poster}}"></td>
               <td>{{mdb.movietitle}}</td>
               <td><div ng-repeat="g in mdb.moviegenre">{{g.name}} </div>
                  </td>
                  <td>{{mdb.starcast}}</td>
                  <td>{{mdb.director}}</td>
                  <td>
                     <div ng-repeat="l in mdb.language">{{l.name}} </div>
                  </td>
                  <td>{{mdb.duration}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>